@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Notification List</h1>
    <div class="row">
        <div class="col-6">
            <ul id="notifyList"></ul>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script>
    "use strict";
    var connection = new signalR.HubConnectionBuilder().withUrl("/signalr").build();
    connection.on("sendNotify", (articleHeading, articleContent) => {
        var heading = document.createElement("h3");
        heading.textContent = articleHeading;

        var p = document.createElement("p");
        p.innerText = articleContent;

        var div = document.createElement("div");
        div.appendChild(heading);
        div.appendChild(p);

        document.getElementById("notifyList").appendChild(div);
    });
    connection.start().catch(function (err) {
        return console.error(err.toString());
    });
</script>
